

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'selfchecklist/style.css' %}">
  <link rel="stylesheet" href="{% static 'selfchecklist/doodles.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700&family=Roboto:wght@400;700&family=Rubik+Mono+One&display=swap" rel="stylesheet">
  <title>Self Checklist</title>
</head>
<body>
  <div class="main-wrapper">
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </div>

  <div class="doodles">
    {% for i in 50|times %}
      <div class="sqr s{{ i }}"></div>
    {% endfor %}
  </div>
</body>
</html>
