{% extends "articles/article.html" %}

{% load static %}

{% block article_content %}

<div class="article-title">
    E-Lab Notebook (Work)
</div>

<p>
    Worked for 1 year at IDBS on their E-Lab Notebook, helping in the transition from an old <b class="tech">Java</b> desktop application to a
    Web-based SaaS model using the same backend.
</p>

<div class="article-subtitle">
    Migration from GWT to PolymerJS
</div>

<p>
    Helped to deliver a gradual migration away from Google's <b class="tech">Java</b> based web framework <b class="tech">GWT</b> to the 
    <b class="tech">Javascript</b> component framework <b class="tech">PolymerJS</b>.
</p>

<div class="article-subtitle">
    Migration of legacy PDF data
</div>

<p>
    Dealt with a difficult transition of PDF data from the <b class="tech">Java</b> desktop application to the web app. The notebook
    had some complicated 20 year old maths which generated a preview image of a PDF to show within the nodebook when a PDF was attached.
</p>

<p>
    I investigated this undocumented legacy code, reverse engineered the maths and provided a fully-documented recreation of it
    to be used within the web app.
</p>

<p>
    Was delivered successfully and received very well by the client.
</p>



{% endblock %}