
{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/13a2349612.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700&family=Roboto:wght@400;700&family=Rubik+Mono+One&display=swap" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">
  <script src="{% static 'src/main.js' %}"></script>
  <title>{% block title %}Will Page{% endblock %}</title>
  <style>
    body {
      --noise: url({% static 'misc/noise.svg' %});
    }
  </style>
</head>

<body onload="main()">
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>

</html>