{% extends "base.html" %}

{% load static %}

{% block content %}
    <article id="home">
        
        <div class="circles">
            <div class="circle c1">
                <div class="noise"></div>
            </div>
            <div class="circle c2">
                <div class="noise"></div>
            </div>
            <div class="circle c3">
                <div class="noise"></div>
            </div>
        </div>

        <div class="strips">
            <div class="strip s1"></div>
            <div class="strip s2"></div>
            <div class="strip s3"></div>
        </div>

        <header class="white-dots">
            <div class="links">
                <a href="https://github.com/billy-yoyo">
                    <img src="{% static '/logos/github.svg' %}" width="25"></img>
                </a>
                <a href="https://www.linkedin.com/in/william-page-839700161/">
                    <img src="{% static '/logos/linkedin.svg' %}" width="25"></img>
                </a>
            </div>

            <div class="nav">
                <a href="/#home"><span>//</span>Home</a>
                <a href="/#projects"><span>//</span>Projects</a>
                <a href="/#experience"><span>//</span>Experience</a>
                <a href="/#work"><span>//</span>Work</a>
            </div>

            <div class="filler"></div>
        </header>

        

        <div class="column">
    
            <div id="title" class="title">
                <div class="line">WILL</div>
                <div class="line">PAGE</div>
                <canvas id="water"></canvas>
            </div>
    
            <div class="subtitle">
                Full Stack Developer
            </div>

            <div class="mobile links">
                <a href="https://github.com/billy-yoyo">
                    <img src="{% static '/logos/github.svg' %}" width="25"></img>
                </a>
                <a href="https://www.linkedin.com/in/william-page-839700161/">
                    <img src="{% static '/logos/linkedin.svg' %}" width="25"></img>
                </a>
                <a href="mailto: william.page@outlook.com">
                    <img src="{% static '/logos/email.svg' %}" width="25"></img>
                </a>
            </div>

            <p>
                Professionally the languages I've used most are <b class="tech">Scala</b>, <b class="tech">Java</b>,
                <b class="tech">Python</b> and <b class="tech">Typescript</b>
            </p>
        
            <p>
                Technologies I've worked with include <b class="tech">AWS</b>, <b class="tech">SQL</b> and
                <b class="tech">Elasticsearch</b>, to name a few. 
            </p>

            <p>
                5 years experience total.
            </p>

            <p>
                I'm also an avid hobbyist programmer and always eager to try new things, scroll down and you'll find some of my projects!
            </p>

            <section id="projects">
                <div class="subtitle">
                    / PROJECTS
                </div>
                <div class="project">
                    <div class="project-title">BBC Introducing (Work)</div>
                    <p>
                        Worked on the BBC Introducing platform for 3 years. Was the technical lead on the project for 2 years.
                    </p>
                    <p>
                        BBC Introducing is a music platform used by over 100,000 artists. Artists can upload their music
                        to be processed and stored. This music can be accessed via an internal website which lets internal
                        users browse the music, assign it to different channels, and log notes against them.
                    </p>
                    <p>
                        Project consisted of multiple sites and a backend, and involved technologies such as <b class="tech">Scala</b>,
                        <b class="tech">Typescript</b>, <b class="tech">React</b>, <b class="tech">MySQL</b>, <b class="tech">Elasticsearch</b>,
                        <b class="tech">AWS</b>. 
                    </p>
                    <div class="project-links">
                        <a href="/articles/music-platform">
                            <img class="pink" src="{% static '/logos/blog.svg' %}" width="25"></img>
                            <img class="blue" src="{% static '/logos/blog-blue.svg' %}" width="25"></img>
                        </a>
                        <a href="https://www.bbc.co.uk/introducing">
                            <img class="blue" src="{% static '/logos/link.svg' %}" width="25"></img>
                            <img class="pink" src="{% static '/logos/link-pink.svg' %}" width="25"></img>
                        </a>
                    </div>
                </div>
                <div class="project">
                    <div class="project-title"> Eletronic Lab Notebook (Work)</div>
                    <p>
                        Worked at IDBS on the Lab E-Workbook for 1 year. Helped to deliver a transition to a SaaS model, moving
                        from a Java-based desktop application to a more modern web application.
                    </p>
                    <p>
                        Primarily worked with <b class="tech">Java</b>, <b class="tech">Javascript</b>,
                        <b class="tech">PolymerJS</b> and <b class="tech">Oracle</b>.
                    </p>
                    <div class="project-links">
                        <a href="/articles/e-workbook">
                            <img class="pink" src="{% static '/logos/blog.svg' %}" width="25"></img>
                            <img class="blue" src="{% static '/logos/blog-blue.svg' %}" width="25"></img>
                        </a>
                        <a href="https://www.idbs.com/products/e-workbook/">
                            <img class="blue" src="{% static '/logos/link.svg' %}" width="25"></img>
                            <img class="pink" src="{% static '/logos/link-pink.svg' %}" width="25"></img>
                        </a>
                    </div>
                </div>
                <div class="project">
                    <div class="project-title">Euphoria Draft</div>
                    <div class="project-image">
                        <img src="{% static '/images/players.png' %}"></img>
                    </div>
                    <p>
                        Fantasy team drafter for League of Legends, using tournament match data
                        to calculate statistics for professional players and assign scores.
                    </p>
                    <p>
                        Developed with <b class="tech">Python</b> and <b class="tech">Django</b>
                    </p>
                    <div class="project-links">
                        <a href="/articles/euphoria-draft">
                            <img class="pink" src="{% static '/logos/blog.svg' %}" width="25"></img>
                            <img class="blue" src="{% static '/logos/blog-blue.svg' %}" width="25"></img>
                        </a>
                        <a href="https://github.com/billy-yoyo/league-fantasy">
                            <img class="blue" src="{% static '/logos/github-blue.svg' %}" width="25"></img>
                            <img class="pink" src="{% static '/logos/github-pink.svg' %}" width="25"></img>
                        </a>
                        <a href="https://euphoriadraft.co.uk/">
                            <img class="blue" src="{% static '/logos/link.svg' %}" width="25"></img>
                            <img class="pink" src="{% static '/logos/link-pink.svg' %}" width="25"></img>
                        </a>
                    </div>
                </div>
                <div class="project" >
                    <div class="project-title">Graphics Experiments</div>
                    
                    <div class="project-image">
                        <img src="{% static '/images/planet.png' %}"></img>
                    </div>
                    <p>
                        A collection of different web toys I've written using a variety of tools.
                        The picture is of an interactive planet generator and editor.
                    </p>
                    <p>
                        Developed with various tools including <b class="tech">Javascript</b>, <b class="tech">GLSL</b>, <b class="tech">WebGL</b> and <b class="tech">three.js</b>.
                    </p>
                    <div class="project-links">
                        <a class="desktop" href="/toys/ecs-gas/">
                            <img class="blue" src="{% static '/logos/link.svg' %}" width="25"></img>
                            <img class="pink" src="{% static '/logos/link-pink.svg' %}" width="25"></img>
                        </a>
                    </div>
                </div>
                <div class="project">
                    <div class="project-title">Board Game</div>
                    <div class="project-image">
                        <img src="{% static '/images/camel-ingame.png' %}"></img>
                    </div>
                    <p>
                        Digital version of the "Caravan" board game. Implements the board game ruleset along with
                        multiplayer and three difficulties of AI. 
                    </p>
                    <p>
                        Developed with <b class="tech">Typescript</b>, <b class="tech">React</b>, <b class="tech">Express</b>
                        and <b class="tech">Redis</b>.
                    </p>
                    <div class="project-links">
                        <a href="/articles/camel-camel">
                            <img class="pink" src="{% static '/logos/blog.svg' %}" width="25"></img>
                            <img class="blue" src="{% static '/logos/blog-blue.svg' %}" width="25"></img>
                        </a>
                        <a href="https://github.com/billy-yoyo/CamelCamel">
                            <img class="blue" src="{% static '/logos/github-blue.svg' %}" width="25"></img>
                            <img class="pink" src="{% static '/logos/github-pink.svg' %}" width="25"></img>
                        </a>
                        <a href="https://camel.game">
                            <img class="blue" src="{% static '/logos/link.svg' %}" width="25"></img>
                            <img class="pink" src="{% static '/logos/link-pink.svg' %}" width="25"></img>
                        </a>
                    </div>
                </div>
                <div class="project">
                    <div class="project-title">Game API Library</div>
                    <p>
                        Reversed engineered Ubisoft's statistics API for the game Rainbox Six Siege. Turned it
                        into a reusable python library <b class="tech">r6sapi</b>, which ended up getting moderate
                        interest and over 100 stars on GitHub. Also used this to power a Discord bot which served over 30,000 discord guilds.
                    </p>
                    <p>
                        Developed with <b class="tech">Python</b>
                    </p>
                    <div class="project-links">
                        <a href="/articles/rainbox-six-api">
                            <img class="pink" src="{% static '/logos/blog.svg' %}" width="25"></img>
                            <img class="blue" src="{% static '/logos/blog-blue.svg' %}" width="25"></img>
                        </a>
                        <a href="https://github.com/billy-yoyo/RainbowSixSiege-Python-API">
                            <img class="blue" src="{% static '/logos/github-blue.svg' %}" width="25"></img>
                            <img class="pink" src="{% static '/logos/github-pink.svg' %}" width="25"></img>
                        </a>
                        <a href="https://rainbowsixsiege-python-api.readthedocs.io/en/latest/">
                            <img class="blue" src="{% static '/logos/link.svg' %}" width="25"></img>
                            <img class="pink" src="{% static '/logos/link-pink.svg' %}" width="25"></img>
                        </a>
                    </div>
                </div>
                <div class="project">
                    <div class="project-title">Discord Bot</div>
                    <p>
                        Used a combination of Web scraping + official steam APIs to create a Discord bot
                        which could fetch information about Steam users, game prices, and notify users
                        when certain games go on sale. Was in over 50,000 discord guilds, had over 100,000
                        unique users and was translated into 11 languages.
                    </p>
                    <p>
                        Developed with <b class="tech">Python</b> and <b class="tech">Redis</b>
                    </p>
                    <div class="project-links">
                        <a href="/articles/steam-bot">
                            <img class="pink" src="{% static '/logos/blog.svg' %}" width="25"></img>
                            <img class="blue" src="{% static '/logos/blog-blue.svg' %}" width="25"></img>
                        </a>
                        <a href="https://github.com/billy-yoyo/SteamBot">
                            <img class="blue" src="{% static '/logos/github-blue.svg' %}" width="25"></img>
                            <img class="pink" src="{% static '/logos/github-pink.svg' %}" width="25"></img>
                        </a>
                    </div>
                </div>
                
            </section>

            <a class="email" href="mailto: william.page@outlook.com">
                william.page@outlook.com
            </a>
        </div>
        
    </article>

    <script src="{% static 'src/matter.js' %}"></script>
    <script src="{% static 'src/decomp.js' %}"></script>
    <script src="{% static 'src/water.js' %}"></script>
{% endblock %}

